<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>博客后台</title>
    <link rel="stylesheet" href="../static/model/layui/css/layui.css" th:href="@{/model/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/model/font-awesome/css/font-awesome.min.css" th:href="@{/model/font-awesome/css/font-awesome.min.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-cyan">
        <div class="layui-logo">博客后台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;" data-refresh="刷新"><i class="fa fa-refresh"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;" data-clear="清理" class="layuimini-clear"><i class="fa fa-trash-o"></i></a>
            </li>
            <li class="layui-nav-item mobile layui-hide-xs" lay-unselect>
                <a href="javascript:;" data-check-screen="full"><i class="fa fa-arrows-alt"></i></a>
            </li>
            <li class="layui-nav-item">
                    <img src="../static/image/admin.jpg" class="layui-nav-img">
                    YeLv
            </li>
            <li class="layui-nav-item"><a href="#" th:href="@{/admin/logout}">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-cyan">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree layui-bg-cyan">
                <li class="layui-nav-item"><a href="">后台首页</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">博客菜单</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表</a></dd>
                        <dd><a href="javascript:;">发布</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 30px;">
            <div class="layui-container fly-marginTop">
                <div class="fly-panel">
                    <div class="fly-none">
                        <h2><i class="iconfont icon-tishilian"></i></h2>
                        <p>欢迎登录yelv</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <p align="center">CopyRight © YeLv</p>
    </div>
</div>
</body>
</html>