body {
    background: url("../image/bga.png");
}
.my-topbg-cl{
    background-color: #0C1021;
}
.my-container-padding{
    margin-top: 25px;
}
.my-card-leftbody{
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.my-card-rightbody{
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.my-hr-op{
    opacity: 20%;
}

.my-icon-style{
    font-size: 17px;
    color: #009f95;
}
.my-btn{
    width: 90%;
    height: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.my-btn-th{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.my-btnbg{
    background-color: #009688;
    opacity: 80%;
}
.my-type-th{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

/*----image-----*/
.my-image{
    width: 150px;
    height: 120px;
}
.my-image-user{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.my-admin-image{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.my-pa-th{
    padding-right: 10px;
}
.about-me{
    width: 80px !important;
    height: 80px !important;
    border-radius: 100% !important;
}
/*-------text -----*/
.my-text-height{
    height: 400px !important;
}
.my-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.my-font-size {
    font-size: 10px;
}
.my-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
/*------shadow------*/
.my-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*-----margin------*/

.m-margin-top-small {
    margin-top:0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}

.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;

}