<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common_fragments::head(~{::title})">
    <title>Yelv的博客</title>
</head>
<body>
<!-- 头部 -->
<div th:replace="/common/common_fragments::top"></div>

<div class="layui-container my-container-padding">
    <div class="layui-carousel layui-col-space2 my-container-padding" id="circle">
        <div carousel-item>
            <
            <div>条目1</div>
            <div style="marging: 0 auto">条目2</div>
            <div style="marging: 0 auto">条目3</div>
            <div style="marging: 0 auto">条目4</div>
            <div style="marging: 0 auto">条目5</div>
            >
        </div>
    </div>
    <div class="layui-row layui-col-space14 my-container-padding">
        <div class="layui-col-md8">
            <div class="fly-panel">
                <div class="fly-panel">
                    <div class="fly-panel-title fly-filter">
                        <p style="color: #009f95;font-size: 20px">博客</p>
                        <span class="fly-filter-right layui-hide-xs">
                        <p style="color: #009f95;font-size: 18px">共 <span style="font-size: 20px">14</span> 篇</p>
                    </span>
                    </div>
                    <hr class="layui-bg-red my-hr-op">
                </div>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-col-space8">
                            <div class="layui-col-md3 my-card-leftbody">
                                <img class="my-image" src="https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                            </div>
                            <div class="layui-col-md9 my-card-rightbody">
                                <div>
                                    <a href="#">
                                    <h3>Mysql</h3>
                                    <hr>
                                    <p class="my-text">学生表 Student(SId,Sname,Sage,Ssex) --SId 学生编号, Sname 学生姓名, Sage 出生年月, Ssex 学生性别
                                        MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
                                    </a>
                                </div>
                                <div>
                                    <div class="layui-col-md2">
                                        <img class="my-image-user my-pa-th" src="../static/image/admin.jpg"><span class="my-font-size"><a href="#">叶吕</a></span>
                                    </div>
                                    <div class="layui-col-md2">
                                        <i class="layui-icon layui-icon-date my-pa-th"></i><span class="my-font-size">2020-02-02</span>
                                    </div>
                                    <div class="layui-col-md2">
                                        <i class="fa fa-eye my-pa-th"></i><span class="my-font-size">200</span>
                                    </div>
                                    <div class="layui-col-md6">
                                        <a href="#" target="_blank" ><span class="layui-badge">学习方法</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="layui-bg-red my-hr-op">
                </div>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-col-space8">
                            <div class="layui-col-md3 my-card-leftbody">
                                <img class="my-image" src="https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                            </div>
                            <div class="layui-col-md9 my-card-rightbody">
                                <div>
                                    <a href="#">
                                        <h3>Mysql</h3>
                                        <hr>
                                        <p class="my-text">学生表 Student(SId,Sname,Sage,Ssex) --SId 学生编号, Sname 学生姓名, Sage 出生年月, Ssex 学生性别
                                            MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
                                    </a>
                                </div>
                                <div>
                                    <div class="layui-col-md2">
                                        <img class="my-image-user my-pa-th" src="../static/image/admin.jpg"><span class="my-font-size"><a href="#">叶吕</a></span>
                                    </div>
                                    <div class="layui-col-md2">
                                        <i class="layui-icon layui-icon-date my-pa-th"></i><span class="my-font-size">2020-02-02</span>
                                    </div>
                                    <div class="layui-col-md2">
                                        <i class="fa fa-eye my-pa-th"></i><span class="my-font-size">200</span>
                                    </div>
                                    <div class="layui-col-md6">
                                        <a href="#" target="_blank" ><span>学习方法</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="layui-bg-red my-hr-op">
                </div>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-col-space8">
                            <div class="layui-col-md3 my-card-leftbody">
                                <img class="my-image" src="https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                            </div>
                            <div class="layui-col-md9 my-card-rightbody">
                                <div>
                                    <a href="#">
                                        <h3>Mysql</h3>
                                        <hr>
                                        <p class="my-text">学生表 Student(SId,Sname,Sage,Ssex) --SId 学生编号, Sname 学生姓名, Sage 出生年月, Ssex 学生性别
                                            MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
                                    </a>
                                </div>
                                <div>
                                    <div class="layui-col-md2">
                                        <img class="my-image-user my-pa-th" src="../static/image/admin.jpg"><span class="my-font-size"><a href="#">叶吕</a></span>
                                    </div>
                                    <div class="layui-col-md2">
                                        <i class="layui-icon layui-icon-date my-pa-th"></i><span class="my-font-size">2020-02-02</span>
                                    </div>
                                    <div class="layui-col-md2">
                                        <i class="fa fa-eye my-pa-th"></i><span class="my-font-size">200</span>
                                    </div>
                                    <div class="layui-col-md6">
                                        <a href="#" target="_blank" ><span>学习方法</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="layui-bg-red my-hr-op">
                </div>
                <div class="fly-panel">
                    <div class="fly-panel-title fly-filter">
                        <a href="#" style="color: #009f95;font-size: 20px">上一页</a>
                        <span class="fly-filter-right layui-hide-xs">
                        <a href="#" style="color: #009f95;font-size: 18px">下一页</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="fly-panel">
                <h3 class="fly-panel-title"><i class="layui-icon layui-icon-tips"></i>&emsp;关于我</h3>
                <div class="fly-home fly-panel">
                    <img class="about-me" src="../static/image/admin.jpg" alt="YeLv">
                    <h1>
                        YeLv
                        <i class="iconfont icon-nan"></i>
                        <i class="layui-badge fly-badge-vip">SVIP</i>
                    </h1>
                    <p class="fly-home-info">
                        <i class="iconfont icon-shijian"></i><span>2020-6-17 加入</span>
                        <i class="iconfont icon-chengshi"></i><span>来自贵州</span>
                    </p>

                    <p class="fly-home-sign">（人生是一场修行）</p>
                    <p class="fly-home-sign">(河出伏流，一泻汪洋。潜龙腾渊，鳞爪飞扬。乳虎啸谷，百兽震惶。鹰隼试翼，风尘翕张。
                        奇花初胎，矞矞皇皇。干将发硎，有作其芒。天戴其苍，地履其黄。纵有千古，横有八荒。
                        前途似海，来日方长。美哉我少年中国，与天不老！壮哉我中国少年，与国无疆！)</p>

                </div>
            </div>

            <div class="fly-panel">
                <h3 class="fly-panel-title"><i class="layui-icon layui-icon-note"></i>&emsp;标签</h3>
                <div class="my-btn">
                    <div class="my-btn-th">
                        <button type="button" class="layui-btn layui-btn-primary">Java <span class="layui-badge layui-bg-green">灰</span></button>
                        <button type="button" class="layui-btn layui-btn-primary">前端 <span class="layui-badge layui-bg-green">灰</span></button>
                    </div>
                    <div class="my-btn-th">
                        <button type="button" class="layui-btn layui-btn-primary">前端layui<span class="layui-badge layui-bg-green">灰</span></button>
                        <button type="button" class="layui-btn layui-btn-primary">mysql<span class="layui-badge layui-bg-green">灰</span></button>
                    </div>
                </div>

            </div>
            <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
                <h3 class="fly-panel-title"><i class="fa fa-bookmark"></i>&emsp;最新推荐</h3>
                <dl>
                    <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                </dl>
            </div>


            <div class="fly-panel">
                <div class="fly-panel-title">
                    <i class="fa fa-angellist"></i>&emsp;这里可是广告区域 …^ o ^…
                </div>
                <div class="fly-panel-main">
                    <br>

                    <a href="#" target="_blank" class="fly-zanzhu"
                       time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">哈哈^ o ^宝藏位置 * _ *</a>
                </div>
            </div>

            <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                <img src="../../res/images/weixin.jpg" style="max-width: 100%;" alt="layui">
                <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
            </div>

        </div>
    </div>
</div>

<div th:replace="/common/common_fragments::footer"></div>

<script src="../static/model/jquery-3.4.1/jquery-3.4.1.min.js" th:src="@{/model/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script src="../static/model/layui/layui.js" th:src="@{/model/layui/layui.js}"></script>

<!-- 轮播 -->
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#circle'
            , width: '100%' //设置容器宽度
            , height: '260px' 	//设定轮播容器高度，支持像素和百分比
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
    layui.config({
        base: 'static/model/layui/lay/modules' //你的扩展模块所在目录
    }).use('form'); //这里的 main 模块包含了 mod1、mod2、mod3 等等扩展模块，看官方文档
</script>
</body>
</html>