<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yelv.yelv_blog.mapper.ArticleMapper">
    <resultMap id="ArticleMap" type="com.yelv.yelv_blog.entity.Article">
        <id property="articleId" column="article_id"/>
        <result property="articleUserId" column="article_user_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="articleViewCount" column="article_view_count"/>
        <result property="articleUpdateTime" column="article_update_time"/>
        <result property="articleCreateTime" column="article_create_time"/>
        <result property="articleSummary" column="article_summary"/>
        <result property="articleImage" column="article_image"/>
        <result property="articleCommend" column="article_commend"/>
        <result property="articleCategoryId" column="article_category_id"/>
        <association property="user" javaType="com.yelv.yelv_blog.entity.User">
            <id property="userId" column="user_id"/>
            <result property="userNickname" column="user_nickname"/>
            <result property="userName" column="user_name"/>
            <result property="userEmail" column="user_email"/>
            <result property="userAvatar" column="user_avatar"/>
        </association>
        <association property="tag" javaType="com.yelv.yelv_blog.entity.Tag">
            <id property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </association>
        <association property="category" javaType="com.yelv.yelv_blog.entity.Category">
            <id property="categoryId" column="category_id"/>
            <result property="categoryName" column="category_name"/>
        </association>
    </resultMap>

    <!-- 新增 -->
    <insert id="saveArticle" useGeneratedKeys="true" keyProperty="articleId">
        INSERT INTO article (article_user_id,article_title ,
                             article_content,article_view_count,article_update_time,article_create_time,
                             article_summary,article_image,article_commend,article_category_id)
        VALUES (#{articleUserId}, #{articleTitle}, #{articleContent}, #{articleViewCount}, #{articleUpdateTime}, #{articleCreateTime},
                #{articleSummary}, #{articleImage}, #{articleCommend},#{articleCategoryId})
    </insert>

    <!-- 获取所有信息 -->
    <select id="getAllArticle" resultMap="ArticleMap">
        SELECT article_id, article_title, article_update_time, article_commend, article_category_id, category_name
        FROM article, category
        WHERE article_category_id = category_id
    </select>

    <!-- 主页博客 -->
    <select id="getIndexArticle" resultMap="ArticleMap">
        SELECT article_id, article_title, article_image, article_view_count, article_update_time, article_summary,
               category_name, category_id,
               user_nickname, user_avatar
        FROM article, category, user
        WHERE article_category_id = category_id AND  user_id = article_user_id ORDER BY article_update_time DESC
    </select>

    <select id="getDetailedArticle" resultMap="ArticleMap">
        SELECT a.`article_id`, a.`article_title`, a.`article_content`, a.`article_view_count`,
               a.`article_update_time`, u.`user_nickname`, u.`user_avatar`,
               t.`tag_id`, t.`tag_name`
        FROM article a, USER u, tag t, article_tag_ref atr
        WHERE a.`article_user_id` = u.`user_id` AND atr.`article_id` = a.`article_id` AND atr.`tag_id` = t.`tag_id` AND  a.`article_id` = #{articleId}
    </select>

    <!-- 按分类 -->
    <select id="getByCategoryId" resultMap="ArticleMap">
        SELECT article_id, article_title, article_image, article_view_count, article_update_time, article_summary,
               category_name, category_id,
               user_nickname, user_avatar
        FROM article, category, USER
        WHERE article_category_id = category_id AND user_id = article_user_id AND article_category_id = #{categoryId} ORDER BY article_update_time DESC
    </select>

    <!-- 按标签 -->
    <select id="getByTagId" resultMap="ArticleMap">
        SELECT a.`article_id`, a.`article_title`, a.`article_image`, a.`article_view_count`, a.`article_update_time`, a.`article_summary`,
               c.`category_name`, c.`category_id`,
               t.`tag_name`, t.`tag_id`,
               u.`user_nickname`, u.`user_avatar`
        FROM article a, category c, USER u, article_tag_ref atr, tag t
        WHERE a.`article_category_id` = c.`category_id` AND u.`user_id` = a.`article_user_id` AND atr.`article_id` = a.`article_id` AND atr.`tag_id` = t.`tag_id` AND t.`tag_id` = #{tagId}
        ORDER BY a.`article_update_time` DESC
    </select>
</mapper>