<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common_fragments::head(~{::title})">
    <title>标签</title>
</head>
<body>
<!-- 头部 -->
<div th:replace="/common/common_fragments::top(3)"></div>

<div class="layui-container my-container-padding">
    <div class="layui-row layui-col-space14 my-container-padding">
        <div class="layui-col-md10 layui-col-md-offset1 content detail">
            <div class="fly-panel detail-box">
                <div class="fly-panel">
                    <div class="fly-panel-title fly-filter">
                        <p style="color: #009f95;font-size: 20px">标签</p>
                        <span class="fly-filter-right layui-hide-xs">
                                <p style="color: #009f95;font-size: 18px">共 <span style="font-size: 25px" th:text="${#arrays.length(tags)}">14</span> 种</p>
                            </span>
                    </div>
                </div>
                <div class="layui-btn-container my-type-th">
                    <a th:each="tag : ${tags}" th:href="@{/tags/{tagId}(tagId=${tag.tagId})}"  class="layui-btn layui-btn-primary" th:classappend="${tag.tagId==activeTagId} ? 'my-btnbg'">
                        [[${tag.tagName}]]
                        <span class="layui-badge layui-bg-orange" th:text="${#arrays.length(tag.articles)}"></span>
                    </a>
                </div>
            </div>

            <div class="fly-panel detail-box">
                <div class="fly-panel">
                    <div class="layui-card" th:each="article : ${pageInfo.list}">
                        <div class="layui-card-body">
                            <div class="layui-col-space8">
                                <div class="layui-col-md3 my-card-leftbody">
                                    <img class="my-image" th:src="@{${article.articleImage}}">
                                </div>
                                <div class="layui-col-md9 my-card-rightbody">
                                    <div>
                                        <a href="#" th:href="@{/article/{id}(id=${article.articleId})}">
                                            <h3 th:text="${article.articleTitle}"></h3>
                                            <hr>
                                            <p class="my-text" th:text="|${article.articleSummary}......|"></p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="layui-col-md2">
                                            <img class="my-image-user my-pa-th" src="/image/admin.jpg"><span class="my-font-size"><a href="#" th:text="${article.user.userNickname}">叶吕</a></span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="layui-icon layui-icon-date my-pa-th"></i><span class="my-font-size" th:text="${#dates.format(article.articleUpdateTime, 'yyyy-MM-dd')}">2020-02-02</span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="fa fa-eye my-pa-th"></i><span class="my-font-size" th:text="${article.articleViewCount}">200</span>
                                        </div>
                                        <div class="layui-col-md6">
                                            <a href="#" target="_blank" th:href="@{/categories/{categoryId}(categoryId=${article.category.categoryId})}"><span class="layui-badge" th:text="${article.category.categoryName}">学习方法</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="layui-bg-red my-hr-op">
                    </div>
                    <!--/*--> <!--静态页面访问时可以显示此注释里面的内容-->
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-col-space8">
                                <div class="layui-col-md3 my-card-leftbody">
                                    <img class="my-image" src="https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                </div>
                                <div class="layui-col-md9 my-card-rightbody">
                                    <div>
                                        <a href="#">
                                            <h3>Mysql</h3>
                                            <hr>
                                            <p class="my-text">学生表 Student(SId,Sname,Sage,Ssex) --SId 学生编号, Sname 学生姓名, Sage 出生年月, Ssex 学生性别
                                                MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="layui-col-md2">
                                            <img class="my-image-user my-pa-th" src="../static/image/admin.jpg"><span class="my-font-size"><a href="#">叶吕</a></span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="layui-icon layui-icon-date my-pa-th"></i><span class="my-font-size">2020-02-02</span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="fa fa-eye my-pa-th"></i><span class="my-font-size">200</span>
                                        </div>
                                        <div class="layui-col-md6">
                                            <a href="#" target="_blank" ><span>学习方法</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="layui-bg-red my-hr-op">
                    </div>
                    <!--*/-->
                    <div class="fly-panel">
                        <div class="fly-panel-title fly-filter">
                            <a href="#" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" style="color: #009f95;font-size: 20px">上一页</a>
                            <span class="fly-filter-right layui-hide-xs">
                        <a href="#" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" style="color: #009f95;font-size: 18px">下一页</a>
                    </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 底部 -->
<div th:replace="/common/common_fragments::footer"></div>

<script src="../static/model/layui/layui.js" th:src="@{/model/layui/layui.js}"></script>
</body>
</html>