<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common_fragments::head(~{::title})">
    <title>分类</title>
</head>
<body>
<!-- 头部 -->
<div th:replace="/common/common_fragments::top"></div>

<div class="layui-container my-container-padding">
    <div class="layui-row layui-col-space14 my-container-padding">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <div class="fly-panel">
                    <div class="fly-panel-title fly-filter">
                        <p style="color: #009f95;font-size: 20px">分类</p>
                        <span class="fly-filter-right layui-hide-xs">
                                <p style="color: #009f95;font-size: 18px">共 <span style="font-size: 20px">14</span> 种</p>
                            </span>
                    </div>
                </div>
                <div class="my-type-th">
                    <button type="button" class="layui-btn layui-btn-primary">Java  <span class="layui-badge layui-bg-green">灰</span></button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn">前端  <span class="layui-badge layui-bg-green">灰</span></button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn">springboot<span class="layui-badge layui-bg-green">灰</span></button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn">Java<span class="layui-badge layui-bg-green">灰</span></button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn">前端<span class="layui-badge layui-bg-green">灰</span></button>

                </div>
                <div class="my-type-th">
                    <button type="button" class="layui-btn layui-btn-primary">Java  <span class="layui-badge layui-bg-green">灰</span></button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn">前端  <span class="layui-badge layui-bg-green">灰</span></button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn">springboot<span class="layui-badge layui-bg-green">灰</span></button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn">Java<span class="layui-badge layui-bg-green">灰</span></button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn">前端<span class="layui-badge layui-bg-green">灰</span></button>

                </div>
            </div>


            <div class="fly-panel detail-box">
                <div class="fly-panel">
                    <div class="fly-panel">
                        <div class="fly-panel-title fly-filter">
                            <p style="color: #009f95;font-size: 20px">博客</p>
                            <span class="fly-filter-right layui-hide-xs">
                                <p style="color: #009f95;font-size: 18px">共 <span style="font-size: 20px">14</span> 篇</p>
                            </span>
                        </div>
                        <hr class="layui-bg-red my-hr-op">
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-col-space8">
                                <div class="layui-col-md3 my-card-leftbody">
                                    <img class="my-image" src="https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                </div>
                                <div class="layui-col-md9 my-card-rightbody">
                                    <div>
                                        <a href="#">
                                            <h3>Mysql</h3>
                                            <hr>
                                            <p class="my-text">学生表 Student(SId,Sname,Sage,Ssex) --SId 学生编号, Sname 学生姓名, Sage 出生年月, Ssex 学生性别
                                                MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="layui-col-md2">
                                            <img class="my-image-user my-pa-th" src="../static/image/admin.jpg"><span class="my-font-size"><a href="#">叶吕</a></span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="layui-icon layui-icon-date my-pa-th"></i><span class="my-font-size">2020-02-02</span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="fa fa-eye my-pa-th"></i><span class="my-font-size">200</span>
                                        </div>
                                        <div class="layui-col-md6">
                                            <a href="#" target="_blank" ><span>学习方法</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="layui-bg-red my-hr-op">
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-col-space8">
                                <div class="layui-col-md3 my-card-leftbody">
                                    <img class="my-image" src="https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                </div>
                                <div class="layui-col-md9 my-card-rightbody">
                                    <div>
                                        <a href="#">
                                            <h3>Mysql</h3>
                                            <hr>
                                            <p class="my-text">学生表 Student(SId,Sname,Sage,Ssex) --SId 学生编号, Sname 学生姓名, Sage 出生年月, Ssex 学生性别
                                                MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="layui-col-md2">
                                            <img class="my-image-user my-pa-th" src="../static/image/admin.jpg"><span class="my-font-size"><a href="#">叶吕</a></span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="layui-icon layui-icon-date my-pa-th"></i><span class="my-font-size">2020-02-02</span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="fa fa-eye my-pa-th"></i><span class="my-font-size">200</span>
                                        </div>
                                        <div class="layui-col-md6">
                                            <a href="#" target="_blank" ><span>学习方法</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="layui-bg-red my-hr-op">
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-col-space8">
                                <div class="layui-col-md3 my-card-leftbody">
                                    <img class="my-image" src="https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                </div>
                                <div class="layui-col-md9 my-card-rightbody">
                                    <div>
                                        <a href="#">
                                            <h3>Mysql</h3>
                                            <hr>
                                            <p class="my-text">学生表 Student(SId,Sname,Sage,Ssex) --SId 学生编号, Sname 学生姓名, Sage 出生年月, Ssex 学生性别
                                                MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="layui-col-md2">
                                            <img class="my-image-user my-pa-th" src="../static/image/admin.jpg"><span class="my-font-size"><a href="#">叶吕</a></span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="layui-icon layui-icon-date my-pa-th"></i><span class="my-font-size">2020-02-02</span>
                                        </div>
                                        <div class="layui-col-md2">
                                            <i class="fa fa-eye my-pa-th"></i><span class="my-font-size">200</span>
                                        </div>
                                        <div class="layui-col-md6">
                                            <a href="#" target="_blank" ><span>学习方法</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="layui-bg-red my-hr-op">
                    </div>
                    <div class="fly-panel">
                        <div class="fly-panel-title fly-filter">
                            <a href="#" style="color: #009f95;font-size: 20px">上一页</a>
                            <span class="fly-filter-right layui-hide-xs">
                        <a href="#" style="color: #009f95;font-size: 18px">下一页</a>
                    </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 右公共区域 -->
        <div th:replace="/common/common_fragments::rightside"></div>
    </div>
</div>

<!-- 底部 -->
<div th:replace="/common/common_fragments::footer"></div>

<script src="../static/model/layui/layui.js"></script>
<script>
    layui.config({
        version: "3.0.0"
        , base: '../js/mods'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
<script>
    layui.config({
        base: 'static/model/layui/lay/modules' //你的扩展模块所在目录
    }).use('form'); //这里的 main 模块包含了 mod1、mod2、mod3 等等扩展模块，看官方文档
</script>
</body>
</html>